.form-frame{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    label{
        width: 120px;
        margin-right: 20px;
        margin-left: 16px;
    }


    input{
        padding: 8px;
        margin-bottom: 8px;
        width: 200px;
        border-radius: 5px;
    }

    button{
        margin-left: 16px;
        padding: 8px 24px;
        border-radius: 5px;
        background: crimson;
        color: white;    }
}

.form-container{
    display: flex;
}

.todos-frame{
    display: flex;
    margin-left: 16px;
    flex-wrap: wrap;
}

.todo{
    margin-right: 24px;
    margin-bottom: 24px;
    min-width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 16px 8px;
    color: crimson;
    font-weight: 900;
    font-size: 24px;

    button{
        background: crimson;
        padding: 4px 8px;
        border-radius: 5px;
    }
}